*{  
    padding: 0%;
    margin: 0%;
}
body{
    background-color: white
}
#logo-senai{
    height: 30px;
    width: 100px;
}
li a{

    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
  
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none; /**/
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.logo-baner{
    display: flex;
   align-items: center;
   justify-content:center ;
   flex-direction: row;
   margin: 40px;
   gap: 40%;

}